.name-form-container{
  display: flex;
  gap: 15px;
}
.adress-form-container{
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 400px){
  .name-form-container{
    flex-direction: column;
    .form-row{
      input{
        width: 100%;
      }
    }
  }
  .adress-form-container{
    flex-direction: column;
    .form-zipcode,
    .form-city
    {
      input{
        width: 100%;
      }
    }
  }
  .form-container{
    width: 100%;
    border-radius: 0;
  }
}