.name-form-container{
  display: flex;
  gap: 15px;
}
.adress-form-container{
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 425px){
  .name-form-container{
    flex-direction: column;
  }
  .adress-form-container{
    flex-direction: column;
  }
  .form-container{
    //width: 100%;
    border-radius: 0px;
  }
}
@media(min-width: 768px){
  .container-grid{
    grid-template-columns: 0.8fr;
    justify-content: center;
    align-items: center;
  }
}