.form-container{
  padding: 20px;
  border-radius: 14px;
  background-color: rgba(255,255,255,0.1);
  form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    button{
      width: 100%;
      padding: 10px;
      outline: none;
      border: none;
    }
  }

}
.form-row,
.form-email,
.form-password,
.form-phone,
.form-birthdate,
.form-zipcode,
.form-adress,
.form-city,
.form-zipcode
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  input{
    height: 35px;
    background: #1F2324;
    border: none;
    color: white;
    border-radius: 7px;
    margin-top: 5px;
    padding: 10px;
    outline: none;
    &:focus{
      border: 2px solid #3489E0;
    }
  }
  label{
    font-size: 0.8em;
  }

}
.form-birthdate{
  input{
    width: 100%;
  }
}
.form-phone{
  input{
    width: 100%;
  }
}
.form-adress{
  input{
    width: 100%;
  }
}
.form-password{
  input{
    width: 100%;
  }
}
.form-email{
  input{
    width: 100%;
  }
}
.name-form-container{
  display: flex;
  gap: 15px;
}
.adress-form-container{
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 400px){
  .name-form-container{
    flex-direction: column;
    .form-row{
      input{
        width: 100%;
      }
    }
  }
  .adress-form-container{
    flex-direction: column;
    .form-zipcode,
    .form-city
    {
      input{
        width: 100%;
      }
    }
  }
  .form-container{
    width: 100%;
    border-radius: 0;
  }
}