.grid-container{
  display: grid;
  grid-auto-flow: row;
  width: 100%;
  min-height: 100%;
  gap: 20px;
}
.main-menu{
  width : 100%;
  background-color: rgba(255,255,255,0.1);
  border-radius: 14px;
  padding: 20px;
  p{
    text-align: center;
  }
}
.side-menu{
  display: none;
}
@media screen and (max-width: 400px){
  .main-menu{
    border-radius: 0;
  }
}