$background-color: #1F2324;
$primary-color: linear-gradient();
$secondary-color: linear-gradient();
$primary-font-color: #c9c8c8;
$secondary-font-color: '';
$font: 'Inter';
body {
    background-color: $background-color;
}
