main{
  display:grid;
  grid-auto-flow: row;
  gap: 15px;
  .fonction-container {
    background-color: rgba(201, 200, 200, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 375px;
    .fonction-content{
      text-align: center;
      p{
        font-size: 14px;
      }
    }
    .fonction_img{
      width: 195px;
      height: auto;
    }
  }
}