{% extends 'base.html.twig' %}

{% block title %}Contactez Nous{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('Contact') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('Contact') }}
{% endblock %}
{% block callToAction %}
{% endblock %}
{% block content %}
    <main>
        <img src="/svg/Gear.png" alt="gear" class="gearSvg">
        <p>Work In Progress</p>
    </main>
{% endblock %}
